
header {
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--FFM-Light);
    box-shadow: 0 -5px 50px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.logo {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
img{
    width: 10rem;
}
.menu{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 2rem;
}
