li{
    list-style: none;
    display: inline-flex;
    margin: 0 15px;
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    border: 1px solid var(--FFM-Blue);
    background-color: var(--FFM-DarkBlue);
    border-radius: 50px;
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: #fff;
}
li:hover{
    border: 1px solid var(--FFM-DarkBlue);
    background-color: var(--FFM-Blue);

}