<main>
    <app-navbar [IncomingData]="MenuItem"></app-navbar>
    <div class="container">
        <div class="left">
            <h1>FitForMe: Your Ultimate Destination for Premium Fitness Products!</h1>
        </div>
        <div class="right">
            <div class="login_holder">
                <form>
                    <div class="avatar">
                        <div class="imgHolder"></div>
                        <img src="../../../assets/images/profile_pic.jpg" alt="User">
                    </div>
                    <div class="input">
                        <label for="Email">Email</label>
                        <input type="email" name="Email" required placeholder="example@gmail.com">
                        <label for="Password">Password</label>
                        <input type="password" name="Password" placeholder="Password">
                        <a [routerLink]="['/user/password_reset']">forgotten password ?</a>
                    </div>
                    <input [routerLink]="['/user/home']" id="btn" type="submit" value="LOGIN">
                    <a [routerLink]="['/user/signup']">Don't have an account create new</a>
                </form>
            </div>
        </div>
    </div>
</main>