<div class="container">
    <header>
        <nav>
            <div class="logo">
                <img src="../../../assets/images/logo SVG.svg" alt="logo">
            </div>
            <div class="btnHolder">
                <a [routerLink]="['/user/login']">Login</a>
                <a [routerLink]="['/user/signup']">Signup</a>
            </div>
        </nav>
    </header>
    <section>
        <h1 class="Banner">Fit For Me</h1>
        <app-products [LoginStatus]="false"></app-products>
    </section>
    <app-footer></app-footer>
</div>