<div class="container">
    <header>
        <nav>
            <div class="logo">
                <img src="../../../assets/images/logo SVG.svg" alt="logo">
            </div>
            <div class="btnHolder">
                <a [routerLink]="['/user/login']">Login</a>
                <a [routerLink]="['/user/signup']">Signup</a>
            </div>
        </nav>
    </header>
    <section>
        <h1 class="Banner">Fit For Me</h1>
        <!-- <div class="product">
        
            <div class="productHolder" *ngFor="let product of products">
                <div class="imgHolder">
                    <a href="{{product.image}}" target="_blank"><img src="{{product.image}}" alt="product"></a>
                </div>
                <div class="contentHolder">
                    <h1>{{product.title}}</h1>
                    <p>{{product.description}}</p>
                    <p class="bold">price : {{product.price | currency}}</p>
                    <p class="bold">Rating : {{product.rating.rate}}</p>
                </div>
            <a class="buyBtn" [routerLink]="['/user/login']">Buy now</a>

            </div>
        </div> -->
        <app-products></app-products>
    </section>
    <app-footer></app-footer>
</div>