<footer>
    <div class="about-holder">
        <div class="Section">
            <div class="title">ABOUT</div>
            <a [routerLink]="['/404']">Contact Us</a>
            <a [routerLink]="['/404']">About Us</a>
            <a [routerLink]="['/404']">Careers</a>
            <a [routerLink]="['/404']">Fit For Me Stories</a>
            <a [routerLink]="['/404']">Press</a>
            <a [routerLink]="['/404']">Corporate Information</a>
        </div>
        <div class="Section">
            <div class="title">HELP</div>
            <a [routerLink]="['/404']">Payments</a>
            <a [routerLink]="['/404']">Shipping</a>
            <a [routerLink]="['/404']">Cancellation/Returns</a>
            <a [routerLink]="['/404']">FAQ</a>
            <a [routerLink]="['/404']">Report Infringement</a>
        </div>
        <div class="Section">
            <div class="title">CONSUMER POLICY</div>
            <a [routerLink]="['/404']">Return Policy</a>
            <a [routerLink]="['/404']">Terms Of Use</a>
            <a [routerLink]="['/404']">Security</a>
            <a [routerLink]="['/404']">Privacy</a>
            <a [routerLink]="['/404']">Sitemap</a>
            <a [routerLink]="['/404']">Grievance Redressal</a>
            <a [routerLink]="['/404']">EPR Compliance</a>
        </div>
        <div class="Section">
            <div class="title">SOCIAL</div>
            <a [routerLink]="['/404']">Facebook</a>
            <a [routerLink]="['/404']">Twitter</a>
            <a [routerLink]="['/404']">YouTube</a>
        </div>
    </div>
</footer>